<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="SHA256-d2cgfHNCE/UCzmd3lo/e8+Xj4ZaM6hrQpxRbKH/6RD4=" crossorigin="anonymous"></script>
    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css">

    <meta charset="UTF-8">
    <title>Statistiche - BitGames</title>
</head>
    <body>

        <nav class="navbar" tag="navHeader" style="background-color: #85996e;">
            <div style="margin-left: 30px;">
                <img src="img/ProgettoLogo.png" alt="BitGames" width="216" height="75">
            </div>
            <div style="margin-right: 30px; padding: 3px;" class="divAccount">
                <a class="nav-link" href="#" style="font-weight: bold; height: 100%; display: flex; align-items: center; color: white;">
                    <i class="material-icons" style="font-size: 20px; margin-right: 5px;">person</i>
                    Account
                </a>
            </div>
        </nav>


        <div style="display: flex; width: 100%; height: 100%;">
            <div class="divMenu">

                <!-- Home Page -->
                <div style="width: 100%; margin-top: 20px;">
                    <a href="homePage" class="menuLaterale">
                        <i class="material-icons" style="font-size: 20px; margin-left: 30px; margin-right: 10px;">home</i>
                        Home
                    </a>
                </div>

                <!-- Pubblicazione Gioco -->
                <div style="width: 100%; margin-top: 10px;">
                    <a href="pubblicazioneGioco" class="menuLaterale">
                        <i class="material-icons" style="font-size: 20px; margin-left: 30px; margin-right: 10px;">shop</i>
                        Pubblica Gioco
                    </a>
                </div>

                <!-- Visualizza Giochi -->
                <div style="width: 100%; margin-top: 10px;">
                    <a href="visualizzaGiochi" class="menuLaterale">
                        <i class="material-icons" style="font-size: 20px; margin-left: 30px; margin-right: 10px;">list</i>
                        Visualizza Giochi
                    </a>
                </div>

                <!-- Statistiche -->
                <div style="width: 100%; margin-top: 10px;">
                    <a href="statistiche" class="menuLaterale">
                        <i class="material-icons" style="font-size: 20px; margin-left: 30px; margin-right: 10px;">analytics</i>
                        Statistiche
                    </a>
                </div>

                <!-- Supporto Tecnico -->
                <div style="width: 100%; margin-top: 10px;">
                    <a href="#" class="menuLaterale">
                        <i class="material-icons" style="font-size: 20px; margin-left: 30px; margin-right: 10px;">group</i>
                        Supporto Tecnico
                    </a>
                </div>

                <!-- About -->
                <div style="width: 100%; margin-top: 10px;">
                    <a href="#" class="menuLaterale">
                        <i class="material-icons" style="font-size: 20px; margin-left: 30px; margin-right: 10px;">info</i>
                        About
                    </a>
                </div>

                <!-- Versione -->
                <div style="position: absolute; bottom: 10px; left: 30px; color: white;">
                    Versione 1.0.0
                </div>
            </div>

            <div class="divPrincipale">
                <div class="headerAreaPersonale">
                    <i class="material-icons" style="margin-left: 30px; font-size: 30px; margin-top: 10px;">analytics</i>
                    <h3 style="margin-top: 20px; margin-left: 10px;">
                        >  Statistiche
                    </h3>
                </div>

                <div style="width: 100%; height: 70%; display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 35px;">
                    <canvas id="myLineChart"></canvas>
                    <a id="downloadButton" href="#" download="lineChart.png" class="btn btn-primary" style="background-color: #85996e; border-color: #85996e; margin-top: 5px;">Esporta Grafico</a>
                </div>

            </div>
        </div>

        <!-- Script per il grafico -->
        <script src="js/chart.js"></script>
        <script src="js/downloadChart.js"></script>

    </body>
</html>